.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  transition: opacity 0.15s;
  z-index: 100;

  &:hover {
    opacity: 0 !important;
  }
}

footer {
}

.infoContainer {
  display: flex;
  padding: 10px;
}

.socialMediaLinksContainer {
  a {
    color: black;
    font-size: 2rem;

    &:hover {
      color: green;
    }
  }
}
